@import "./settings/__settings";

.content {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-items: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.header {
  background-color: gray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  color: white;
}

.divider {
  background-color: white;
  height: 2px;
}

.verticaldivider {
    background-color: white;
    width: 2px;
}

.form {
  padding: 15px;
}

.left {
  display: flex;
  margin-right: 1rem;
  flex: 1;
  flex-direction: column;
}

.back {
    display: flex;
    background-color: #c4c4c4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding-left: 1rem;
    text-transform: none;
  justify-content: left;
}

.order {
    flex: 1;
    background-color: blue;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.productContainer {
    display: flex;
  flex: 3;
  background-color: red;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  flex-direction: row;
  height: 88vh;
}


.label {
  color: white;
  font-weight: bold;
}

.productInfo {
    background-color: orange;
    flex: 1.8;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 1rem;
}


.productRight {
    flex-direction: column;
    background-color: lightblue;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 40vw;
    display: flex;
}

.productImage {
    background-color: lightblue;
    flex: 1;
    overflow: hidden;
    display: flex;
}

.childImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionBtn {
  position: fixed;
  bottom: 40px;
  right: 50px;

}

.productReview {
  flex: 1;
  background-color: yellowgreen;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input {
  position: relative;
  left: 10px;
}